body{
  background: orange; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(red, yellow, #ADFF2F); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(orange, yellow, #ADFF2F); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(orange, yellow, #ADFF2F); /* For Firefox 3.6 to 15 */
  background: linear-gradient(orange, yellow, #ADFF2F); /* Standard syntax */
  height: 3000px;
  max-width: 1400px;
}

#page{
  max-width: 1400px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

#title{
  font-family: 'Raleway', sans-serif;
  font-size: 100;
  text-align: center;
  margin-top: 50px;
  letter-spacing: 15px;
}

#subtitle{
  font-family: 'Raleway', sans-serif;
  font-size: 40;
  text-align: center;
  margin-top: 40px;
}

#trinket{
  position: absolute;
  top: 1350px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

#help{
  position: absolute;
  top: 1250px;
  left: 15%;
  height: 60px;
}

#note{
  position: absolute;
  top: 1250px;
  left: 25%;
  height: 60px;
}


#textbox1{
  position: absolute;
  top: 350px;
  left: 10%;
  height: 150px;
  width: 500px;
  font-family: 'Raleway', sans-serif;
  font-size: 22;
  text-align: left;
  padding: 20px;
  line-height: 30px;
}

#textbox2{
  position: absolute;
  top: 475px;
  right: 10%;
  height: 150px;
  width: 600px;
  font-family: 'Raleway', sans-serif;
  font-size: 22;
  text-align: left;
  padding: 20px;
  line-height: 30px;
}

#textbox3{
  position: absolute;
  top: 350px;
  left: 47%;
  height: 150px;
  width: 600px;
  font-family: 'Raleway', sans-serif;
  font-size: 60;
  text-align: center;
  padding: 20px;
  line-height: 80px;
}

#textbox4{
  position: absolute;
  top: 475px;
  right: 30%;
  height: 150px;
  width: 600px;
  font-family: 'Raleway', sans-serif;
  font-size: 60;
  text-align: left;
  padding: 20px;
  line-height: 200px;
}

#replimg{
  position: absolute;
  top: 765px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

#line{
  border-top-style: solid;
  border-top-width: 2px;
  width: 600px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
}

#textbox5{
  position: absolute;
  top: 1100px;
  left: 50%;
  height: 150px;
  width: 600px;
  font-family: 'Raleway', sans-serif;
  font-size: 60;
  text-align: center;
  padding: 20px;
  line-height: 80px;
}

#textbox6{
  position: absolute;
  top: 1100px;
  left: 10%;
  height: 150px;
  width: 600px;
  font-family: 'Raleway', sans-serif;
  font-size: 20;
  text-align: left;
  padding: 20px;
  line-height: 30px;
}

#textbox7{
  position: absolute;
  top: 1250px;
  left: 35%;
  width: 40%;
  font-family: 'Raleway', sans-serif;
  font-size: 17.5;
  text-align: left;
  padding: 25px;
  line-height: 30px;
  background: black;
  z-index: 100;
  color: white;
  display: none;
}

#textbox13{
  position: absolute;
  top: 1250px;
  left: 35%;
  width: 40%;
  font-family: 'Raleway', sans-serif;
  font-size: 17.5;
  text-align: left;
  padding: 25px;
  line-height: 30px;
  background: black;
  z-index: 100;
  color: white;
  display: none;
}

#textbox8{
  position: absolute;
  top: 2100px;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  width: 600px;
  font-family: 'Raleway', sans-serif;
  font-size: 60;
  text-align: center;
  padding: 20px;
  line-height: 30px;
}

#textbox9{
  position: absolute;
  top: 2170px;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  width: 600px;
  font-family: 'Raleway', sans-serif;
  font-size: 22;
  text-align: center;
  padding: 20px;
  line-height: 30px;
}

#functions{
  position: absolute;
  top: 2300px;
  width: 100%;
  left: 50%;
  max-height: 500px;
  overflow: hidden;
  transform: translateX(-50%);
  text-align: center;
}

.function{
  display: inline-block;
  width: 300px;
  height: 500px;
  margin-left: 3%;
  margin-right: 3%;
 }

.fun-title{
  font-family: 'Raleway', sans-serif;
  font-size: 22;
  text-align: left;
  font-weight: bold;
}

.info{
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 18;
  text-align: left;
  line-height: 22pt;
}

.tryit{
  font-family: 'Share Tech Mono', monospace;
  font-size: 18;
  text-align: left;
  line-height: 26pt;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: inherit;
}

#textbox10{
  position: absolute;
  top: 2750px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 600px;
  font-family: 'Raleway', sans-serif;
  font-size: 30;
  text-align: center;
  padding: 20px;
  line-height: 30px;
}

#textbox11{
  position: absolute;
  top: 2800px;
  left: 20%;
  transform: translateX(-50%);
  height: 50px;
  width: 200px;
  font-family: 'Raleway', sans-serif;
  font-size: 30;
  text-align: center;
  line-height: 50px;

}

#textbox12{
  position: absolute;
  top: 2800px;
  right: 20%;
  transform: translateX(50%);
  height: 50px;
  width: 200px;
  font-family: 'Raleway', sans-serif;
  font-size: 30;
  text-align: center;
  line-height: 50px;
}

#githubimg{
  position: absolute;
  top: 2825px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}
